<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NewRelicSdkKey</key>
	<string>AA5a9d19df8e4b02ac7493928c4108b114d61ad083</string>
	<key>PresenceConsumerKey</key>
	<string>LQjbVZ50GSTp0LQ8ZwfXdTJjMZv5cUqK</string>
	<key>VNSDKKey</key>
	<string>vn:venuenext:dev:ios-sdk-WVtWMWcBZSItKf7lbEtxP9GsEgW0XqCmI1Y=</string>
	<key>VNSDKSecret</key>
	<string>MrE9ZvCaW/8wWdba5iB5+uG/AEzQKM0pS605CDL5GcyI5537jcbCvJ6FU9yPxW8C4iC/EKnZi7QwduZw+3s/JQ==</string>
</dict>
</plist>
